* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 12px;
    color: #2e86c1;
    text-shadow: 1px 1px 1px #2e86c1;
}

#container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.grid-box {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    margin: 10px 15px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45A049;
}